{% extends 'default.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-8 col-lg-7 mx-auto">
                    <div class="card mb-3 mx-auto p-5 rounded shadow">
                        <form action="add_account.php" method="POST" enctype="multipart/form-data">
                            <h1 class="mb-5 mx-auto">Create an account</h1>
                                <div class="form-group">
                                    <input type="text" name="username" class="form-control form-control-lg" placeholder="Username" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control form-control-lg" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password-repeated" class="form-control form-control-lg" placeholder="Reapeat password" required>
                                </div>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="account-pic" name="account-pic" accept="image/*">
                                        <label class="custom-file-label form-control form-control-lg" for="account-pic">Choose file (.jpg / .jpeg)</label>
                                    </div>
                                </div>
                                {# <div class="form-group">
                                    <label for="account-pic">Account-pic <span class="text-danger">(.jpg only)<span></label>
                                    <input type="file" class="form-control-file" id="account-pic" name="account-pic" accept="image/*">
                                </div> #}
                                <div class="form-group">
                                    Already have an account ? <a type="button" class="btn-link p-0" href="login.php">Login !</a>
                                </div>
                            <button type="submit" class="btn btn-outline-success btn-lg btn-block">Submit !</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}