<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{{ page_title }}</title>
        <!--CSS-->
        <!--<link rel="stylesheet" href="css/bootstrap.css">-->
        <link rel="stylesheet" href="css/bootstrap_darkly.css">
        <link href="css/fontawesome.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <!--FAVICONS-->
        <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-icon-57x57.png">
        <link rel="icon" type="image/png" href="assets/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="assets/favicons/favicon-16x16.png" sizes="16x16">
    </head>
    <body class="background-dark">
        {% include ('navbar.twig') %}
        {% block body %}
        {% endblock %}
        <!--SCRIPTS-->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="js/custom_ui.js"></script>
    </body>
</html>