<footer class="bg-secondary">
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2019 Copyright:
		<a href="https://giphy.com/gifs/TYNhqiBl8U12w">MoviesStacker</a>
		<span> - </span>
		<a href="https://www.afpa.fr/formation-qualifiante/developpeur-logiciel">DWWM</a>
	</div>
	<!-- Copyright -->
</footer>