
{% extends "default.twig" %}


{% block body %}

    <section class="">
        <div class="container">
			<div class="row">
				<div class="col-8 col-lg-6 mx-auto">
                    <div class="card p-5 rounded shadow">
                            <form action="login.php" method="POST">
                                <h1 class="mb-5 mx-auto">Login</h1>
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control form-control-lg" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control form-control-lg" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <a type="button" class="btn btn-link p-0" href="add_account.php">Don't have an account ?</a>
                                    </div>
                                <button class="btn btn-outline-success btn-lg btn-block" type="submit" value="">Submit !</button>
                            </form>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}