            
{# <div class="vh-100 position-fixed">
    <div class="">

        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="col">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand text-success mb-5" href="index.php"><i class="fab fa-youtube fa-sm
                mr-1 text-success"></i>Manager</a>

                <div class="" id="navbarTogglerDemo03">
                    <ul class="list-unstyled">

                    {% if auth == false %}
                        <li><a class="nav-item nav-link" href="add_account.php">Create account</a></li>
                        <li><a class="nav-item nav-link" href="login.php">Login</a></li>  
                        {% else %}
                        <li><a class="nav-item nav-link" href="add_movie.php"><i class="fas fa-plus-square mr-1"></i>Add a movie</a></li>
                        <li><a class="nav-item nav-link" href="view_account.php">Account</a></li>
                        <li><a class="nav-item nav-link" href="logout.php">Logout</a></li>
                    {% endif %}

                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div> #}

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand text-success" href="index.php"><i class="fab fa-stack-overflow fa-2x
            mr-1 text-success"></i>MoviesStacker
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {% if auth == false %}

                    <div class="dropdown">
                        <a class="btn btn-link nav-item nav-link dropdown-toggle" type="button" id="account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle mr-1"></i>
                            ANONYMOUS USER
                        </a>
                        <div class="dropdown-menu" aria-labelledby="account">
                            <a class="dropdown-item" href="add_account.php">CREATE AN ACCOUNT</a>
                            <a class="dropdown-item" href="login.php">LOGIN</a>
                        </div>
                    </div>

                {% else %}

                    <a class="btn btn-link nav-item nav-link" href="add_movie.php"><i class="fas fa-plus-square mr-1"></i>ADD A MOVIE</a>
                    <div class="dropdown">
                        <a class="btn btn-link nav-item nav-link dropdown-toggle" type="button" id="account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle mr-1"></i>
                            ACCOUNT
                        </a>
                        <div class="dropdown-menu" aria-labelledby="account">
                            <a class="dropdown-item" href="view_account.php">VIEW ACCOUNT</a>
                            <a class="dropdown-item" href="logout.php">LOGOUT</a>
                        </div>
                    </div>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{# <div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div> #}